@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --site-width: 800px;
}

body {
  font-family: "Rubik", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.main {
  max-width: var(--site-width);
  margin: auto;
}

a {
  text-decoration: none;
}

/* header */
.header {
  text-align: center;
  margin-bottom: 0;
}
.header-info {
  text-align: center;
  margin-top: 0;
}

/* project */

.project-list {
}

.project-name,
.project-info {
  margin-bottom: 0.5rem;
}
