* {
    box-sizing: border-box;
}

body {
    background-color: paleturquoise;
}


header {
    background-color: lightgoldenrodyellow;
    font-size: 120;
    border: 5px solid black;
    font-family: fantasy;
    text-align: center;
    padding: 50px;
}

h5 {
    background-color: lightgoldenrodyellow;
    font-size: 80;
    border: 5px solid black;
    font-family: Helvetica;
    text-align: center;
    align-content: center;
}

h2 {
    background-color: yellowgreen;
    text-align: center;
    font-size: 60;
    border: 5px solid black;
}

section {
    background-color: khaki;
}


.games {
    background-color: transparent;
    text-align: center;
    width: 100%;
    float: left;
}

.games button {
    background-color: lightblue;
    width: 100%;
    height: 200px;
    font-size: 80;
    text-align: left;
    font-weight: bold;
    border: 5px solid black;
    outline: 0;
    float: left;
}