@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Orelega+One&family=Zen+Dots&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #2d3a3a;
  font-family: "Lato", sans-serif;
  color: #fcfffc;
}

.header {
  font-size: 4rem;
  font-family: "Orelega One", cursive;
  text-align: center;
  color: #f7cb15;
}

.body {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.quote {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #f7cc1f;
  padding-left: 3rem;
  border-bottom: 0.2rem #324141 solid;
  padding-bottom: 0.5rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  border-radius: 0.5rem;
  width: 25rem;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #354444;
  cursor: pointer;
  padding-bottom: 1rem;
  position: relative;
  float: left;
  margin: 1rem;
}
.card .corner {
  display: none;
  background-color: #2d3a3a;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}
.title {
  margin: 0;
  padding: 0.5rem;
  padding-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
}
.projects {
  width: 100%;
  height: 70vh;
  display: block;
}
.card img {
  width: 100%;
  border-radius: 0.5rem;
  height: 14.5rem;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card:hover .corner {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.card-footer {
  border-top: 0.15rem rgba(255, 255, 255, 0.1) solid;
  padding-top: 0.5rem;
}

.footer {
  border-top: 0.2rem #324141 solid;
  width: 100%;
  text-align: center;
  font-weight: 500;
  float: left;
}

.socials {
  font-size: 1.25rem;
  font-weight: 400;
}

.social {
  padding: 1rem;
  font-size: 1.25rem;
  margin-top: 0;
}

.link {
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.2s;
}

.tag {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
#github:hover {
  color: purple;
}
#twitter:hover {
  color: lightskyblue;
}

#stack:hover {
  color: orange;
}
@media screen and (max-width: 570px) {
  .card {
    width: 95%;
  }
}
