* {
    box-sizing: border-box;
}

body {
    background-color: paleturquoise;
}


header {
    background-color: lightgoldenrodyellow;
    font-size: 100;
    border: 5px solid black;
    text-align: center;
    padding: 50px;
}

h1 {
    background-color: purple;
    font-size: 80;
    font-family: Helvetica;
    text-align: center;
    align-content: center;
    border: 5px solid black;
}

h2 {
    background-color: transparent;
    text-align: center;
    font-size: 60;
    border: 5px solid black;
    background-color: yellowgreen;
    margin-top: 0;

}




.games {
    background-color: transparent;
    text-align: center;
    width: 100%;
    float: left;
}

.games button {
    cursor: pointer;
    background-color: lightblue;
    width: 100%;
    height: 200px;
    font-size: 80;
    text-align: left;
    font-weight: bold;
    border: 5px solid black;
    outline: 0;
    float: left;
}